/* I2PTunnel Manager Theme "Classic" */
/* Author: dr|z3d */

@import url("/themes/fonts/DroidSans.css");

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Droid Sans", "Open Sans", "Noto Sans", Ubuntu, "Segoe UI", "Lucida Grande", "DejaVu Sans", Verdana, Helvetica, sans-serif;
    color: #2c354f;
    font-size: 9pt;
    background: #a4a4cb url(images/bg.png);
    image-rendering: -webkit-optimize-contrast;
}

body.iframed {
    background: transparent url(/themes/console/images/transparent.gif) !important;
}

div {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

form {
    margin: 0;
}

br {
    clear: left;
}

.statusNotRunning {
    color: #d00;
    background: url(/themes/console/images/info/tunnelStopped.png);
}

.statusRunning {
    color: #0b0;
    background: url(/themes/console/images/info/tunnelRunning.png);
}

.statusStarting {
    color: #ff3;
    background: url(/themes/console/images/info/tunnelStarting.png);
}

.statusStandby {
    color: #d30;
    background: url(/themes/console/images/info/tunnelStandby.png);
}

div[class^="status"] {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 16px;
    float: none;
    font-size: 0 !important;
    text-align: center;
    background-size: auto 16px;
    background-position: center center;
    background-repeat: no-repeat;
    filter: drop-shadow(0 0 1px rgba(192,192,192,.5));
}

hr {
    display: none;
}

.freetext {
    padding: 4px;
    width: 150px;
    font: 9pt "Droid Sans Mono", "Noto Mono", "Lucida Console", "DejaVu Sans Mono", monospace;
    color: #333;
    border: 1px solid #99f;
    border-radius: 2px;
    box-shadow: inset 1px 1px 1px #ddd;
    background: #fff;
}

.freetext:focus {
    color: #111;
    box-shadow: 0 0 0 1px #fff, 0 0 0 2px #f60;
}

.freetext[readonly], .freetext[readonly]:focus {
    color: #555;
    border: 1px solid #99b !important;
    box-shadow: inset 2px 2px 1px #ccccd6;
    background: #eeeef6;
}

#clientHost {
    width: 300px;
}

#clientPort {
    width: 100px;
}

.control, .control:link, .control:visited, button {
    margin: 2px 4px !important;
    padding: 4px 3px;
    min-width: 60px;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    color: #333;
    border: 1px solid #99f;
    border-radius: 2px;
    background: #eee;
    background: linear-gradient(to bottom, #fff, #eef);
    box-shadow: inset 0 0 0 1px #fff, 0 0 1px 0 #ccc;
}

.control:hover, .control:focus, button:hover, button:focus {
    text-decoration: none;
    color: #111 !important;
    border: 1px solid #89f !important;
    background: #ddd;
    background: linear-gradient(to bottom, #ddd 0%, #fff 100%);
    box-shadow: inset 0 0 0 1px #fff !important;
}

.control:active, button:active {
    box-shadow: inset 0 0 0 1px #fff, inset 3px 3px 3px 1px #555 !important;
    border: 1px solid #99f !important;
    color: #333 !important;
}

.iframed .panel.iframed {
    margin: 0 auto -8px !important;
}

.panel {
    width: calc(100% - 14px);
    margin: 8px auto;
    min-width: 640px;
    max-width: 1800px;
    overflow: hidden;
    text-align: left !important;
    border-radius: 2px;
    padding: 0 10px 10px;
    box-shadow: inset 0 0 1px #999;
    background: #fff;
    background: linear-gradient(to right, #fff 0%, rgba(247, 248, 255, 0.5), #fff), linear-gradient(to bottom, #eff1ff, #fff, #eff1ff);
    border: 1px solid #447;
}

.iframed .panel {
    border: none;
    background: none;
    box-shadow: none;
    padding: 0;
    margin: 16px auto -8px !important;
    width: 100%;
}

.iframed .panel#messages, .iframed #globalTunnelControl {
    margin-top: 0 !important;
}

.iframed #globalTunnelControl {
    margin-top: 8px !important;
}

.iframed #messages + #globalTunnelControl {
    margin-top: 16px !important;
}

.iframed .panel#clients {
    margin-top: 8px !important;
    margin-bottom: 0 !important;
}

.iframed#tunnelEditPage .panel, .iframed#tunnelRegistration .panel, .iframed#tunnelSSL.panel,
.iframed#tunnelWizardPage .panel {
    margin-top: 0 !important;
    margin-bottom: 1px !important;
}

.iframed#tunnelWizardPage .panel {
    margin-bottom: -1px !important;
}

#globalTunnelControl.iframed.panel:first-child ~ .panel#clients::after {
    content: "";
    display: block;
    height: 6px !important;
    width: 100%;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: url(images/dropdown.png) right center no-repeat #fff;
    background: url(images/dropdown.png) right center no-repeat, linear-gradient(to bottom, #fff, #eef);
    padding: 4px 16px 4px 4px;
    color: #333;
    margin: 4px !important;
    font-family: "Droid Sans", "Open Sans", "Noto Sans", Ubuntu, "Segoe UI", "Lucida Grande", "DejaVu Sans", Verdana, Helvetica, sans-serif;
    border: 1px solid #99f;
    padding: 4px 16px 4px 4px;
    min-width: 140px;
    font-size: 9pt;
    border-radius: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    box-shadow: 0 0 0 1px #fff inset, 0 0 1px 0 #ccc;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
#reachableBy {
    min-width: 0;
}
}

select:hover {
    color: #111;
}

select:hover, select:active {
    background: url(images/dropdown_hover.png) right center no-repeat, linear-gradient(to bottom, #ddd 0%, #fff 100%) !important;
}

select:focus {
    box-shadow: 0 0 0 1px #fff, 0 0 0 2px #f60;
    background: url(images/dropdown_hover.png) right center no-repeat, linear-gradient(to bottom, #ddd 0%, #fff 100%) !important;
}

select option {
    background: #fff;
}

select::-ms-expand {
    display: none;
}

select[disabled], select[disabled]:hover, select[disabled]:focus, select[disabled]:active {
    margin: 0;
    padding: 0;
    color: #2c354f;
    border: none;
    box-shadow: none;
    background: none !important;
    cursor: default;
}

.editDisabled {
    padding-left: 20px;
    background: url(/themes/console/images/buttons/cryptokey.png) 8px center no-repeat;
}

a:link {
    color: #33a;
    text-decoration: none;
    font-weight: bold;
    word-wrap: break-word;
    outline: none;
}

a:visited {
    color: #448;
    text-decoration: none;
}

a:hover, a:focus {
    color: #f60;
    text-decoration: none;
}

a:active {
    color: #f30;
}

input[type="hidden"], input.default {
    display: none;
}

h2, h3 {
    padding: 8px 10px 6px 30px;
    border: 1px solid #89f;
    background: #fff url(/themes/console/classic/images/tinytitle.png) repeat right center;
    background: linear-gradient(to bottom, #fff 0%, #fff 50%, #eff2ff 50%, #eff2ff 100%);
    font-size: 11pt;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    word-spacing: 0.1em;
    margin: 10px 0 -1px;
    color: #2c354f;
    box-shadow: inset 0 0 0 1px #fff;
    position: relative;
}

.iframed h2, .iframed h3 {
    margin-top: 12px;
}

/* title images */

#messages h2 {
    background: url(/themes/console/images/info/logs.png) 5px center no-repeat, linear-gradient(to bottom, #fff 0%, #fff 50%, #eff2ff 50%, #eff2ff 100%) #fff !important;
    background-size: 20px auto, 100% 100%, 100% 100% !important;
}

#globalTunnelControl h2 {
    background: url(/themes/console/images/info/control.png) 5px center no-repeat, linear-gradient(to bottom, #fff 0%, #fff 50%, #eff2ff 50%, #eff2ff 100%) #fff !important;
    background-size: 20px auto, 100% 100%, 100% 100% !important;
}

#servers h2 {
    background: url(/themes/console/images/info/server.png) 5px center no-repeat, linear-gradient(to bottom, #fff 0%, #fff 50%, #eff2ff 50%, #eff2ff 100%) #fff !important;
    background-size: 20px auto, 100% 100%, 100% 100% !important;
}

#clients h2 {
    background: url(/themes/console/images/info/client.png) 5px center no-repeat, linear-gradient(to bottom, #fff 0%, #fff 50%, #eff2ff 50%, #eff2ff 100%) #fff !important;
    background-size: 20px auto, 100% 100%, 100% 100% !important;
}

#tunnelEditPage h2, #tunnelEditPage h3, #registration h2, #registration h3 {
    background: url(/themes/console/images/info/configure.png) 5px center no-repeat, linear-gradient(to bottom, #fff 0%, #fff 50%, #eff2ff 50%, #eff2ff 100%) #fff !important;
    background-size: 20px auto, 100% 100%, 100% 100% !important;
}

#wizardPanel h2, #ssl h2 {
    background: url(/themes/console/images/info/wizard.png) left 6px center no-repeat, linear-gradient(to bottom, #fff 0%, #fff 50%, #eff2ff 50%, #eff2ff 100%) #fff !important;
    background-size: 20px auto, 100% 100%, 100% 100% !important;
}

/* end title images */

.iframed #globalTunnelControl h2 {
    margin-top: 4px;
}

.iframed #globalTunnelControl {
    margin-bottom: -16px !important;
}

.panel table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #89f;
    margin: 0;
    background: #fff url(images/bg2.png);
    background: linear-gradient(to bottom, rgba(255,255,255,0.8), rgba(255,255,255,0.5)), url(images/bg2.png);
}

th {
    background: #fff url(/themes/console/classic/images/tinytitle.png) repeat-x center center;
    background: linear-gradient(to bottom, #fff, #eff2ff) !important;
    padding: 7px 5px;
    text-align: left;
    border-top: 1px solid #89f;
    border-bottom: 1px solid #89f;
    font-size: 10pt;
    color: #2c354f;
}

tr {
    background: rgba(239, 241, 255, 0.5);
}

td {
    vertical-align: middle;
    border-top: 1px inset #cfd1ff;
    padding: 5px;
}

th:last-child, td:last-child {
    border-right: 1px solid #89f; /* fixes chrome rendering bug */
}

#throttler th:last-child, #throttler td:last-child,
#clientAuth th:last-child, #clientAuth td:last-child {
    border-right: none;
}

td.infohelp {
    padding: 10px 10px 10px 38px !important;
    text-align: justify;
    background: url(/themes/console/images/info/infohelp.png) 10px center no-repeat;
    background-size: 20px 20px;
}

.tunnelConfig td {
    width: 50%;
}

#clientTunnels tr, #serverTunnels tr {
    background: #eef;
}

.tunnelProperties {
    background: #fcfcff !important;
    border-top: 1px solid #89f;
}

.tunnelProperties:hover {
    background: #ffe !important;
    transition: ease background 0.3s;
}

.newTunnel {
    text-align: right;
    border-top: 1px solid #89f !important;
    padding: 7px !important;
    background: #fff;
}

.newTunnel select, .newTunnel input, .newTunnel .control {
    float: none;
    margin: 2px !important;
}

.newtunnel form {
    width: 100%;
    text-align: right;
}

.tunnelName {
    width: 25%;
    min-width: 150px;
}

.tunnelName a {
    background: url(/themes/console/images/buttons/configure.png) left center no-repeat;
    padding: 3px 3px 3px 20px !important;
}

.tunnelName a:hover {
    background: url(/themes/console/images/buttons/configure_hover.png) left center no-repeat;
}

.tunnelName a {
    font-weight: bold;
}

.tunnelType {
    width: 25%;
}

.tunnelPreview {
    text-align: left;
}

.tunnelPreview, .tunnelPort {
    width: 15%;
    text-align: center;
}

.tunnelLocation, .tunnelInterface {
    width: 20%;
}

.tunnelLocation font[color="red"] {
    margin-left: 3px;
}

.tunnelStatus {
    text-align: center;
    width: 10%;
    float: none;
    min-width: 48px;
}

.tunnelControl {
    width: 5%;
    text-align: right;
    white-space: nowrap;
}

.tunnelControl > * {
    vertical-align: middle;
}

th.tunnelControl {
    text-align: center;
}

input[type="checkbox"], input[type="radio"] {
    vertical-align: sub;
    min-width: 16px;
    min-height: 16px;
    margin: 2px 2px 2px 0;
    background: none;
}

input[type="radio"]:hover, input[type="radio"]:focus, input[type="checkbox"]:hover, input[type="checkbox"]:focus {
    filter: drop-shadow(0 0 2px #89f);
    box-shadow: inset 0 0 1px 2px #89f;
    outline: none;
}

input[type="radio"][disabled]:hover, input[type="radio"][disabled]:focus {
    box-shadow: none !important;
    filter: none !important;
}

.editDisabled input[type="radio"], .editDisabled label {
    cursor: not-allowed !important;
}

.editDisabled input[type="radio"]:checked {
    opacity: 1 !important;
}

.editDisabled input[type="radio"]:not(:checked) {
    opacity: 0.4;
}

.optbox[name="sigType"][disabled]:not(:checked), .optbox[name="sigType"][disabled]:not(:checked) + span {
    display: none;
}

.multioption {
    font-size: 0;
}

.editDisabled .optbox:checked + span {
    font-weight: bold;
    text-decoration: underline;
}

label {
    cursor: pointer;
}

input[type="checkbox"] {
    margin: 5px 3px 5px 5px;
}

textarea, input, select, button {
    font-size: 9pt;
    vertical-align: middle;
}

button::-moz-focus-inner, input::-moz-focus-inner {
    outline: none;
    border: none;
}

button {
    text-decoration: none;
    cursor: pointer;
}

button, input[type="submit"], input[type="reset"], a.control {
    font-family: "Droid Sans", "Open Sans", "Noto Sans", Ubuntu, "Segoe UI", "Lucida Grande", "DejaVu Sans", Verdana, Helvetica, sans-serif;
    font-size: 9pt;
    cursor: pointer;
}

textarea {
    font-family: "Droid Sans Mono", "Noto Mono", "Lucida Console", "DejaVu Sans Mono", monospace;
    color: #333;
    background: #fff;
    border: 1px solid #99f;
    border-radius: 2px;
    resize: none;
    box-shadow: inset 1px 1px 1px #ddd;
}

textarea:focus {
    box-shadow: inset 0 0 0 1px #89f;
    box-shadow: inset 0 0 0 1px #89f, 0 0 1px rgba(136, 153, 255, 0.4);
    color: #111;
}

textarea#statusMessages {
    width: 99%;
    width: calc(100% - 12px);
    border-radius: 0;
    padding: 2px 4px 2px 8px;
    color: #070;
    box-shadow: none;
    border: none;
    margin: 0;
    font-family: "Droid Sans Mono", "Noto Mono", Consolas, "Lucida Console", "DejaVu Sans Mono", monospace;
    font-size: 8.5pt;
}

textarea#statusMessages:focus {
    caret-color: transparent;
}

a.control {
    display: inline-block;
    padding: 5px 8px !important;
}

.control {
    box-sizing: border-box;
    margin: 2px 4px !important;
    min-width: 80px !important;
    padding: 4px 8px !important;
    color: #333 !important;
}

.buttons, .newTunnel {
    text-align: right;
    padding: 7px 5px;
    background: #fff;
    background: linear-gradient(to bottom, #fff, #eff1ff);
    border-top: 1px solid #89f;
}

button.control, input[type="submit"], input[type="reset"] {
    padding: 5px 8px !important;
}

.buttons > * {
    vertical-align: middle;
}

.tunnelConfig tr:last-child td {
    border-top: 1px solid #89f;
}

.tunnelDescriptionLabel, .tunnelDestinationLabel {
    text-align: right;
    min-width: 150px;
    display: inline-block;
    margin-right: 3px;
    white-space: nowrap;
}

input {
    vertical-align: middle;
}

.optbox {
    vertical-align: middle;
}

#hostField, #leasesetKey, #userAgents {
    width: 90% !important;
    margin: 0 !important;
    text-align: left !important;
}

#tunnelDepth, #tunnelVariance, #tunnelQuantity, #tunnelBackupQuantity,
#tunnelDepthOut, #tunnelVarianceOut, #tunnelQuantityOut, #tunnelBackupQuantityOut,
#localDestination, #customOptions, #leasesetKey, #name, #description, textarea[name="accessList"] {
    width: 100% !important;
    margin: 0 !important;
    text-align: left !important;
}

#oldName, #targetDestination, select#connectionProfile {
    min-width: 280px;
    width: calc(100% - 20px) !important;
}

td[colspan="2"] select#profile {
    width: calc(50% - 15px) !important;
}

#customOptions, #userAgents {
    width: calc(100% - 10px) !important;
}

#localDestination, textarea[name="accessList"], #hostField {
    width: calc(100% - 5px) !important;
    margin: 3px 0 !important;
}

#localDestination, .authentication {
    height: 32px !important;
}

.multiOption {
    display: inline-block;
    margin: 5px 10px 5px 5px;
}

.multiOption input {
    vertical-align: sub;
}

.multiOption#isServer, .multiOption#isClient {
    background-color: #f00;
}

.multiOption#isServer {
    background: url(/themes/console/images/server.png) left center no-repeat;
    padding-left: 18px;
}

.multiOption#isClient {
    background: url(/themes/console/images/client.png) left center no-repeat;
    padding-left: 19px;
}

#wizardPanel input[type="checkbox"], #wizardPanel input[type="radio"] {
    margin-left: 4px;
}

td#throttle, #clientAuthConfig {
    padding: 0;
}

#throttler, #clientAuth {
    border: none;
}

#throttler th {
    padding-left: 20px;
}

#throttler td {
    width: 20%;
}

#throttler td:first-child {
    text-align: right;
    width: 20%;
    white-space: nowrap;
}

#throttler tr:first-child th, #clientAuth tr:first-child td {
    border-top: none;
}

td.blankColumn {
    width: 20% !important;
}

#throttler tr:nth-child(odd), #wizardTunnelTypes tr:nth-child(odd), #wizardSummary tr:nth-child(odd) {
    background: #eff2ff;
    background: rgba(240,240,255,0.5);
}

#throttler tr:nth-child(even), #wizardTunnelTypes tr:nth-child(even), #wizardSummary tr:nth-child(even) {
    background: #e7e7ff;
    background: rgba(220,220,255,0.5);
}

#throttler input[type="text"] {
    width: 80px;
}

table {
    background: #fff;
}

table#statusMessages textarea, table#statusMessages textarea:active {
    margin: 0;
    border: 0;
    box-shadow: none;
    height: 80px;
    font-size: 9pt;
}

#tunnelMessages {
    padding: 0;
}

.required:not(old) {
    display: none;
}

input::-moz-placeholder {
    color: #900;
    opacity: 1;
}

::-webkit-input-placeholder {
    color: #900;
    opacity: 1;
}

input:focus::-moz-placeholder {
    opacity: 0;
}

:focus::-webkit-input-placeholder {
    opacity: 0;
}

input.tunnelName, input.tunnelDescriptionText, #userAgents, #filterDefinition, #websiteName {
    width: calc(100% - 20px) !important;
    min-width: 280px;
    text-overflow: ellipsis;
}

#filterDefinition {
    width: calc(100% - 20px);
}

input[type="file"] {
    margin: 5px 3px;
}

#websiteName, #privKeyFile, #targetHost, .host {
    width: 30%;
    min-width: 250px;
}

.quantity, .period {
    width: 80px;
}

.port {
    width: 60px;
}

.username, .password {
    width: 200px;
}

.username {
    background: #fff url(/themes/console/images/buttons/user.png) 3px center no-repeat;
    padding-left: 22px;
}

.password {
    background: #fff url(/themes/console/images/buttons/password.png) 3px center no-repeat;
    padding-left: 22px;
}

.proxyList {
    margin: 5px !important;
    width: calc(100% - 20px) !important;
}

#notReady {
    border: 1px solid #900;
    padding: 30px;
    background: #ffd;
    margin: 30px auto;
    width: 400px;
    text-align: center;
    border-radius: 2px;
    box-shadow: inset 0 0 0 1px #fff;
    filter: drop-shadow(0 0 1px #333);
    font-size: 11pt;
    font-weight: bold;
}

/* wizard specifics */

#wizardPanel {
    font-size: 10pt;
}

.iframed #wizardPanel::after {
    content: "";
    display: block;
    height: 3px;
}

#wizardTable {
    padding: 0;
}

#wizardTunnelTypes td:first-child, #wizardSummary td:first-child {
    font-weight: bold;
    width: 10%;
    min-width: 150px;
    text-align: right;
    white-space: nowrap;
}

#wizardTunnelTypes td:last-child {
    text-align: justify;
    padding: 5px 10px 5px 5px;
    border: none;
}

#wizardTunnelTypes select, #wizardPanel .freetext {
    margin-left: 0 !important;
}

#wizardTunnelTypes, #wizardSummary {
    border: none;
    margin-top: -1px;
}

#wizardSummary td:last-child {
    border-right: none !important;
}

#wizardTable td {
    border-top: 1px solid #cfd1ff !important;
}

#wizardTunnelTypes tr:last-child {
    background: #fff;
}

#wizardPanel #name, #wizardPanel #description {
    width: 300px !important;
    margin: 5px 0 !important;
}

#wizardPanel p {
    padding: 5px 10px;
    margin: 0;
    text-align: justify;
}

#wizardPanel input::-moz-placeholder {
    color: #999;
    font-weight: normal;
}

#wizardPanel ::-webkit-input-placeholder {
    color: #999;
    font-weight: normal;
}

#wizardPanel .options {
    padding: 10px;
}

#wizardPanel .tag {
    width: 10%;
    min-width: 150px;
    white-space: nowrap;
    display: inline-block;
    font-weight: bold;
    text-align: right;
    margin-right: 3px;
}

#wizardPanel select {
    min-width: 160px;
    margin-left: 0 !important;
}

#wizardPanel .infohelp p { /* wizard complete - advanced options info */
    margin: 0;
    padding: 0;
}

#tunnelWizardPage #targetDestination {
    width: 50% !important;
}

/* end wizard specifics */

/* more space */

.freetext, .tunnelConfig textarea, #customOptions, #userAgents, #hostField  {
    margin: 5px !important;
}

#tunnelDepth, #tunnelVariance, #tunnelQuantity, #tunnelBackupQuantity, #tunnelDepthOut, #tunnelVarianceOut,
#tunnelQuantityOut, #tunnelBackupQuantityOut, #leasesetKey, #encryptMode, #sigType, #profile {
    margin: 5px !important;
    width: calc(100% - 10px) !important;
}

.tunnelConfig select, select#profile select#connectionProfile {
    margin: 5px !important;
}

textarea[name="accessList"], #hostField, #localDestination, .authentication {
    width: calc(100% - 15px) !important;
    margin: 5px !important;
}

#customOptions, #userAgents, #leasesetKey, .clientName, .clientKey  {
    width: calc(100% - 20px) !important;
}

.tunnelConfig td > b {
    min-width: 30px;
    display: inline-block;
    margin-left: 5px;
}

.tunnelDestination {
    padding-bottom: 1px !important;
    border-bottom: 1px solid transparent !important;
}

td.tunnelDescription, .tunnelInfo + .tunnelInfo .tunnelDestination {
    padding-top: 1px !important;
}

td.tunnelDestination, td.tunnelDescription {
    background: linear-gradient(to right, #fcfcff 50%, #eff2ff);
}

/* end more space */

/* responsive layout */

@media screen and (max-width: 700px) {
#leasesetKey, #tunnelDepth, #tunnelVariance, #tunnelQuantity, #tunnelBackupQuantity,
#tunnelDepthOut, #tunnelVarianceOut, #tunnelQuantityOut, #tunnelBackupQuantityOut, #leasesetKey {
    min-width: 270px;
}
}

@media screen and (max-width: 800px) {
.tunnelType, .tunnelInterface, .tunnelProperties td:nth-child(n+2) {
    text-align: center;
}

.tunnelProperties td {
    border-right: 1px dotted #cfd1ff;
    border-right: 1px inset #def;
}

.tunnelProperties td:last-child {
    border-right: 1px solid #89f;
}

div[class^="status"] {
    background-size: auto 14px;
}

.port, .quantity, .period {
    width: 50px;
}

b + .port {
    margin-left: 2px !important;
    width: 40px;
}

#clientHost, .host {
    width: 160px;
    min-width: 160px;
}

.control, .control:link, .control:visited {
    min-width: 60px !important;
}

#tunnelWizardPage #targetDestination {
    width: 200px !important;
}
}

@media screen and (min-width: 1200px) {
body, .control, button, select, textarea, .freetext {
    font-size: 10pt !important;
}

th {
    font-size: 10.5pt;
}

h2, h3, #messages h2, #globalTunnelControl h2, #servers h2, #clients h2, #tunnelEditPage h2, #tunnelEditPage h3, #registration h2, #registration h3, #wizardPanel h2 {
    font-size: 12pt;
    padding: 10px 10px 8px 35px;
    background-position: 8px center, 0 0 !important;
}

#localDestination, .authentication {
    height: 34px !important;
}
}

/* Edge/IE tweaks */

_:-ms-lang(x), td {
    border-top: 1px solid #cfd1ff;
}

_:-ms-lang(x), td.tunnelDestination, td.tunnelDescription {
    border-bottom-color: transparent;
}

_:-ms-lang(x), h2, h3 {
    box-shadow: none;
}

/* end Edge/IE tweaks */


/* TO DO: merge with main classes */

.panel {
    min-width: 700px;
}

@supports not (-moz-appearance: none) { /* fixes chrome/blinkoverflow issue */
select {
    white-space: normal;
}
}

label {
    vertical-align: middle;
}

input[type="text"] + label {
    white-space: nowrap;
}

#targetPort {
    margin-right: 10px !important;
}

#privKeyFile, input[name="nofilter_blindedPassword"], #localDest {
    min-width: 200px;
    width: 200px;
    width: calc(100% - 20px);
}

input[name="nofilter_blindedPassword"] {
    width: calc(100% - 38px);
}

.displayText, .displayText:empty:hover, .displayText:empty:focus {
    font-family: "Droid Sans Mono", "Noto Mono", "Lucida Console", "DejaVu Sans Mono", monospace;
    width: calc(100% - 10px);
    width: 290px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
    margin: 5px;
    padding: 4px;
    -moz-user-select: all;
    -webkit-user-select: all;
    user-select: all;
    border: 1px solid #99f;
    background: #fff;
    border-radius: 2px;
    box-shadow: inset 1px 1px 1px #ddd;
}

.displayText:hover, .displayText:focus {
    overflow: auto;
    text-overflow: clip;
    margin: 0.5px 5px;
    padding: 2px 4px;
    box-shadow: 0 0 0 1px #fff, 0 0 0 2px #f60;
    background: #ffe;
    outline: none;
}

.displayText:empty, .displayText:empty:hover, .displayText:empty:focus {
    background: #ddd;
    box-shadow: inset 2px 2px 1px #ccc;
}

.displayText:empty::before {
    content: "";
    display: inline-block;
    min-height: 9px;
}

#registration .displayText {
    width: 500px;
}

#registration td {
    padding: 8px;
}

#registration .infohelp {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

#registration input[type="file"] {
    margin-top: 5px;
    margin-bottom: 5px;
}

#oldName, #altPrivKeyFile {
    width: 45% !important;
}

@media screen and (max-width: 800px) {
.displayText, .displayText:empty:hover, .displayText:empty:focus {
    width: 260px;
    font-size: 8pt;
}
}

@media screen and (min-width: 1000px) {
.displayText, .displayText:empty:hover, .displayText:empty:focus {
    width: 386px;
}

#registration .displayText {
    width: 600px;
}
}

@media screen and (min-width: 1500px) {
.displayText, .displayText:empty:hover, .displayText:empty:focus {
    width: 552px;
}

textarea#statusMessages {
    font-size: 9pt;
}

#registration .displayText {
    width: 800px;
}
}

/* custom radios/checkboxes to enforce color scheme when OS widgets are non-standard  */
@supports (background-blend-mode: luminosity) { /* exclude ms browsers */
input[type="checkbox"], input[type="checkbox"]:checked, input[type="checkbox"][disabled], input[type="checkbox"][disabled]:checked,
input[type="radio"], input[type="radio"]:checked, input[type="radio"][disabled], input[type="radio"][disabled]:checked {
    position: relative;
    width: 19px !important;
    height: 19px !important;
    vertical-align: middle !important;
    box-sizing: border-box;
    border: 1px solid #99f !important;
    background: #f8f8ff;
    -moz-appearance: none;
    -webkit-appearance: inherit;
    filter: drop-shadow(0 0 1px #ccf);
    will-change: transform;
}

input[type="checkbox"], input[type="checkbox"]:checked, input[type="checkbox"][disabled], input[type="checkbox"][disabled]:checked {
    border-radius: 2px;
    box-shadow: inset 1px 1px 1px rgba(204, 204, 204, 0.6);
}

input[type="radio"], input[type="radio"]:checked, input[type="radio"][disabled], input[type="radio"][disabled]:checked {
    border-radius: 50%;
}

input[type="checkbox"]:checked::before, input[type="radio"]:checked::before,
input[type="checkbox"]:not(:checked)::before, input[type="radio"]:not(:checked)::before {
    position: absolute;
    transition: linear all 0.05s;
    transform: scale(1);
}

.optbox:not(:checked) {
    box-shadow: inset 2px 2px 1px rgba(204, 204, 240, 0.6);
}

input[type="checkbox"]:checked::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 11px;
    height: 11px;
    line-height: 80%;
    border-radius: 1px;
    background: #67f;
    transform: scale(1);
    transition: linear all .05s;
}

input[type="radio"]:checked::before {
    content: "";
    border-radius: 50%;
    left: 25%;
    top: 25%;
    width: 9px;
    height: 9px;
    background: #67f;
}

input[type="checkbox"]:not(:checked)::before, input[type="radio"]:not(:checked)::before {
    transform: scale(0);
}

input[type="checkbox"]:hover, input[type="radio"]:hover, input[type="checkbox"]:focus, input[type="radio"]:focus {
    background: #fff;
    width: 19px !important;
    height: 19px !important;
    border: 1px solid #67f !important;
    box-shadow: 0 0 2px #f60 !important;
    filter: drop-shadow(0 0 3px #89f) !important;
    filter: none !important;
}

input[type="checkbox"][disabled], input[type="radio"][disabled], input[type="checkbox"][disabled]:hover, input[type="radio"][disabled]:hover,
input[type="checkbox"][disabled]:checked, input[type="radio"][disabled]:checked, input[type="checkbox"][disabled]:checked:hover, input[type="radio"][disabled]:checked:hover {
    filter: none !important;
    box-shadow: none !important;
    opacity: 0.5;
}
}

/* end custom radios/checkboxes */

.tunnelInfo {
    display: none;
}

#toggleInfo {
    margin: -2px -4px 0 0 !important;
    padding: 2px 5px !important;
    min-width: 0 !important;
    vertical-align: middle;
    cursor: pointer;
}

#toggleInfo img {
    height: 8px;
    width: 12px;
    mix-blend-mode: luminosity;
}

#toggleInfo:hover img, #toggleInfo:focus img {
    mix-blend-mode: normal;
}

@media screen and (min-width: 1500px) {
#toggleInfo {
    margin: -2px -2px 0 0 !important;
}
}

#keyringManager {
    float: right;
}

.base32 {
    max-width: 120px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: text-bottom;
}

input::placeholder {
    font-size: 80%;
    text-align: center;
    opacity: .7;
}

.username::placeholder, .password::placeholder {
    color: #2c354f;
    font-size: 100%;
    font-style: italic;
    text-transform: lowercase;
    opacity: .4;
}

.nowrap {
    margin-right: 20px;
    white-space: nowrap;
}

.nowrap, .nowrap > * {
    vertical-align: middle;
}

#clientAuth {
    width: 100%;
    box-sizing: border-box !important;
}

#clientAuth th:nth-child(2), #clientAuth td:nth-child(2) {
    width: auto ;
}

#clientAuth td:last-child {
    width: 1% !important;
    text-align: center;
}

#clientAuth td:last-child b {
    margin: 0;
    padding: 0 8px;
}

#clientAuth th:first-child, #clientAuth td:first-child {
    width: 50% !important;
}

#clientAuth tr:first-child td {
    border-top: none;
}
