/* Console Theme "Classic" - Mobile Override */

body {
    margin: 2px 1px !important;
}

.routersummaryouter {
    float: none;
    margin: 0 !important;
    position: relative;
    width: auto;
}

.routersummary {
    float: none;
    width: auto;
    max-width: 600px;
    margin: 0 auto -6px;
}

#xhr {
    margin-top: 9px !important;
}

#xhr hr:first-child {
    margin-bottom: 7px !important;
}

.routersummary div[style="height: 36px;"] {
    margin: 0 0 15px !important;
}

.routersummary div[style="height: 36px;"] + a {
    display: inline-block;
}

div[style="height: 36px;"] + a, a[href="/summaryframe"] {
    display: inline-block;
    margin: -3px 0 !important;
    padding: 2px 10px;
    border-radius: 15px;
    border: 1px solid #7778bf;
}

a[href="/summaryframe"] {
    margin: 2px 0 !important;
}

.routersummary hr:first-child {
    margin-bottom: 11px;
}

.routersummary td, .routersummary h4, .routersummary a {
    font-size: 9pt !important;
}

.routersummary h3, .routersummary h3 a {
    font-size: 10.5pt !important;
}

.routersummary table, table[id^="sb_"] {
    width: 100% !important;
    margin: -6px 0 -7px !important;
}

table[id^="sb_"] td {
    padding: 4px 2px !important;
}

table#sb_localtunnels {
    margin-top: -6px !important;
}

table#sb_localtunnels td {
    padding: 4px 2px !important;
}

#sb_localtunnels td:last-child {
    padding-right: 4px !important;
}

table[id^="sb_"] tr:nth-child(even) td {
    background: #eef;
    background: rgba(240, 240, 255, 0.5);
}

table[id^="sb_"] tr:nth-child(odd) td {
    background: #ddf;
    background: rgba(220, 220, 255, 0.5);
}

table[id^="sb_"] tr:hover td {
    background: #ffe !important;
    transition: ease background 0.3s;
}

#sb_services {
    text-align: center;
}

#sb_localtunnels td:nth-child(2) {
    width: auto !important;
}

#sb_general, #sb_shortgeneral, #sb_bandwidth, #sb_peers, #sb_tunnels, #sb_queue {
    margin-bottom: -7px !important;
}

#sb_internals, #sb_services, #sb_advanced {
    margin-top: -6px !important;
}


#sb_internals a, #sb_services a, #sb_advanced a {
    max-width: 600px;
}

.routersummary button[type="submit"], .routersummary button[type="cancel"] {
    margin: 5px 5px 3px !important;
    padding: 8px 5px !important;
    min-width: 120px !important;
}

h1 {
    margin: 9px 0 -1px;
    min-width: 510px;
}

div.news {
    margin: 0 0 -1px;
    min-width: 500px;
}

div.main {
    margin: 1px 0 0;
    min-width: 500px;
}

.sorry {
    margin: -1px 0 0 !important;
}

.confignav {
    padding: 3px 5px !important;
    line-height: 180%;
}

@media screen and (min-width: 1500px) {
h1 {
    margin: 9px 0 -1px !important;
}

div.news {
    margin: -1px 0 0 !important;
}

div.main {
    margin: -1px 0 !important;
}

.sorry {
    margin: -1px 0 0 !important;
}

.routersummary {
    width: 600px !important;
}

.routersummary div[style="height: 36px;"] {
    margin-top: 2px !important;
}

.routersummary table[id^="sb_"] {
    width: 600px !important;
}
}
