/* disable snark's collapsible panels */
/* fixes a browser engine bug present in Konqueror, Midori, Qupzilla et al */

input:not(checked) + label + hr + table, input:not(checked) + label + hr + table + table {
    display: table !important;
}

.mainsection input:checked + label + hr + table, .mainsection input:not(checked) + label + hr + table {
    margin-top: -14px !important;
}

.mainsection input:checked + .toggleview, .mainsection input:not(checked) + .toggleview {
    display: none;
}

label.toggleview, label.toggleview:hover, label.toggleview:active, .toggle_input:focus + label.toggleview {
    background: #000 url(/themes/console/dark/images/header.png) repeat-x scroll center center !important;
    background: linear-gradient(to bottom, #1a261a, #000 75%) !important;
    box-shadow: inset 0 0 0 1px #000, 0 1px 1px #000 !important;
    mix-blend-mode: normal !important;
    cursor: default !important;
}

.toggleview img, .toggleview img:hover, .toggleview img:focus, .toggleview img:active,
.toggleview:hover img, .toggleview:focus img, .toggleview:active img,
.toggle_input:focus + label > img {
    border: 2px solid #000 !important;
    box-shadow: none !important;
    background: #000;
    background: linear-gradient(to bottom, #000 50%, #040 50%) !important;
    transform: none !important;
    filter: drop-shadow(0 0 1px #000) !important;
}
