/* Susimail "Midnight" by dr|z3d */
/* Thanks to Florian Kuhlmann for the hatface images. [http://www.flickr.com/photos/floriankuhlmann/] */
/* Droid Sans font family and css3 compliant browser recommended for optimal results */

@import url("/themes/fonts/DroidSans.css");

html {
    min-height: 100%;
}

body {
    background-color: #000010;
    color: #c9ceff;
    font-family: "Droid Sans", "Open Sans", "Noto Sans", "Bitstream Vera Sans", "Lucida Grande", "DejaVu Sans", "Segoe UI", Verdana, Tahoma, Helvetica, sans-serif;
    font-size: 9pt;
    margin: 6px 5px;
}

/* preload button mouseovers */
body:not(old) {
    background: repeating-linear-gradient(to bottom, rgba(0,0,24,.75) 3px, rgba(0,0,0,.9) 5px, rgba(0,0,0,.7) 6px),
    url(/themes/console/midnight/images/tile.png),
    url(/themes/susimail/images/compose_hover.png) no-repeat,
    url(/themes/susimail/images/login_hover.png) no-repeat,
    url(/themes/susimail/images/logout_hover.png) no-repeat,
    url(/themes/susimail/images/offline_hover.png) no-repeat,
    url(/themes/susimail/images/save_hover.png) no-repeat,
    url(/themes/susimail/images/send_hover.png) no-repeat,
    url(/themes/console/images/buttons/configure_hover.png) no-repeat,
    url(/themes/console/images/buttons/delete_hover.png) no-repeat,
    url(/themes/console/images/buttons/update_hover.png) no-repeat, #000010 !important;
    background-size: 100% 100%, 171px 148px, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0 !important;
}

body.iframed {
    background: transparent url(/themes/console/images/transparent.gif) !important;
    margin: 1px 0 0;
}

body.iframed {
    background: url(/themes/console/images/transparent.gif),
    url(/themes/susimail/images/compose_hover.png) no-repeat,
    url(/themes/susimail/images/login_hover.png) no-repeat,
    url(/themes/susimail/images/logout_hover.png) no-repeat,
    url(/themes/susimail/images/offline_hover.png) no-repeat,
    url(/themes/susimail/images/save_hover.png) no-repeat,
    url(/themes/susimail/images/send_hover.png) no-repeat,
    url(/themes/console/images/buttons/configure_hover.png) no-repeat,
    url(/themes/console/images/buttons/delete_hover.png) no-repeat,
    url(/themes/console/images/buttons/update_hover.png) no-repeat, transparent !important;
    background-size: 100% 100%, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0 !important;
}

* {
    outline: none;
}

.iframed form {
    border: 1px solid transparent !important;
    border-top: 1px solid #26225d !important;
}

div.header {
    padding: 8px 5px 12px 5px;
}

hr {
    color: #26225d;
    background: #26225d;
    height: 1px;
    border: 0 solid #26225d;
    width: 100%;
    margin: 5px 0;
    text-align: center;
}

li {
    color: #c9ceff;
    line-height: 12pt;
    font-size: 10pt;
    margin-left: 5mm;
    margin-right: 5mm;
}

p {
    color: #c9ceff;
    line-height: 12pt;
    margin-left: 5mm;
    margin-right: 5mm;
    font-size: 9pt;
}

p.hl {
    font-size: 12pt;
    letter-spacing: 2pt;
    line-height: 18pt;
    font-weight: bold;
}

p.text {
    margin-left: 10mm;
    margin-right: 10mm;
}

p.info, p.error {
    color: #c9ceff;
    display: block !important;
    border: 1px solid #26225d;
    margin: 20px 20px 0 !important;
    padding: 15px 10px 15px 45px;
    background: #000 url(/themes/console/images/info/infohelp.png) 10px center no-repeat;
    background: url(/themes/console/images/info/infohelp.png) 10px center no-repeat, linear-gradient(to right, #000000, #010015 65%, #020018 90%);
    text-align: left;
    border-radius: 2px;
}

p.error {
    padding: 15px 10px 18px 60px !important;
    display: block !important;
    font-weight: bold;
    color: #652787;
    text-align: justify;
    border: 1px solid #652787;
    border-radius: 2px;
    box-shadow: inset 0 0 0 1px #001, inset 0 0 0 2px #313, inset 0 0 6px 3px rgba(64,0,64,0.5), inset 0 0 11px 1px rgba(32,0,32,0.7), inset 0 0 16px 1px rgba(0,0,96,0.5) !important;
    word-wrap: break-word;
    background: url(/themes/console/images/info/errortriangle.png) no-repeat scroll 12px center #000;
}

#nukemail {
    margin: 0 !important;
    padding: 10px 5px 15px !important;
    text-align: center;
    background-image: none;
}

#nukemail span {
    margin: 18px auto 15px;
    display: inline-block;
    width: 100%;
    height: 40px;
    font-size: 140%;
    border-bottom: 1px solid #652787;
}

span.coloured {
    color: #382dc4;
}

p.footer, .iframed #footer, .footer hr {
    display: none;
}

p.mailbody, textarea {
    font: 9pt "Droid Sans Mono", "Noto Mono", "Andale Mono", "DejaVu Sans Mono", "Lucida Console", monospace;
    margin: 0 5px;
    text-align: left;
}

p.mailbody {
    font-size: 9.5pt;
}

.header {
    display: none;
}

.iframed .header {
    display: none;
}

div.topbuttons {
    margin: -1px -1px -10px -1px;
    padding: 7px 0 8px !important;
    font-weight: bold;
    border: 1px solid #26225d;
    border-bottom: 0 solid;
    border-radius: 2px 2px 0 0;
    border-bottom: 1px solid #26225d;
    background: #000010 url(images/hatter_med.png) left bottom no-repeat;
    background-size: 144px 100px, 100% 100% !important;
}

.iframed .topbuttons {
    border: none;
    border-bottom: 1px solid #26225d;
    border-top: 1px solid #26225d;
    border-radius: 0;
}

div.topbuttons br {
    margin-bottom: 12px !important;
}

.topbuttons input.next {
    margin-bottom: -20px !important;
}

.bottombuttons br {
    display: none;
}

.bottombuttons input:disabled {
    display: none;
}

tr.spacer {
    display: none;
}

td[colspan="7"] hr {
    display: none;
}

#mailbox td[colspan="7"] {
    padding: 0 !important;
}

.mailbody {
    padding: 0 10px !important;
}

#mailbox {
    margin-bottom: 0;
}

th.mailListDelete {
    background: url(/themes/console/images/buttons/delete.png) center center no-repeat, linear-gradient(to bottom, #191729, #000 75%) !important;
    font-size: 0;
    padding: 0;
}

.mailListDelete {
    width: 1%;
}

th.mailListFlagged {
    background: url(/themes/susimail/images/status.png) center center no-repeat, linear-gradient(to bottom, #191729, #000 75%) !important;
    font-size: 0;
    padding: 0;
    background-blend-mode: luminosity, normal;
}

th.mailListAttachment {
    background: url(/susimail/icons/attach.png) center center no-repeat, linear-gradient(to bottom, #191729, #000 75%) !important;
    font-size: 0;
    padding: 0;
}

td.mailListAttachment, td.mailListFlagged {
    width: 1%;
    min-width: 28px;
    text-align: center;
}

td.mailListSize {
    width: 1%;
    white-space: nowrap;
    text-align: right;
}

#mailbox th {
    padding: 8px;
    font-weight: bold !important;
    font-size: 8.5pt !important;
    border-top: 1px solid #26225d !important;
}

#mailbox td {
    padding: 4px 8px;
    border-right: 1px solid #002;
}

.bottombuttons td, .pagenav td {
    border-right: none !important;
}

#mailbox td[colspan="3"], #mailbox td[colspan="4"] {
    border-top: 1px solid #26225d !important;
    padding: 6px 0 2px !important;
}

#mailbox td[colspan="3"] {
    border-bottom: none;
    padding-left: 6px !important;
    padding-bottom: 6px !important;
    background: #000;
}

#mailbox td[colspan="4"] {
    padding-right: 6px !important;
    padding-bottom: 6px !important;
    border-bottom: none;
    background: #000;
}

#mailbox td[colspan="5"] br, #mailbox td[colspan="4"] br {
    display: none;
}

#mailbox td[colspan="9"] i {
    font-size: 10pt;
}

#mailbox tr[class^="list"]:hover {
    cursor: pointer;
}

#mailbox td#from {
    white-space: nowrap;
    width: 100px;
}

#mailbox td#subject {
    max-height: 40px;
    overflow: hidden;
}

input[type="checkbox"], .optbox {
    min-width: 16px !important;
    min-height: 16px !important;
    background: none;
    filter: invert(100%) sepia(100%) hue-rotate(200deg) saturate(200%); /* colorize radios and checkboxes */
}

input.optbox {
    opacity: 0.8;
}

input.optbox:hover, input.optbox:focus {
    opacity: 1.0;
    filter: invert(100%) sepia(100%) hue-rotate(200deg) saturate(200%) drop-shadow(0 0 5px #652787);
}

td#deleteattached {
    padding-top: 5px !important;
}

#attachedfile input[type="checkbox"] {
    margin: 0 2px 0 0;
    vertical-align: middle;
}

#attachedfile {
    border-bottom: 1px dotted #322e6b;
    padding: 5px 5px 5px 8px !important;
}

tr.bottombuttons:last-child td {
    padding-bottom: 20px !important;
    border-bottom: 1px solid #26225d !important;
}

a:link {
    color: #7972d1;
    text-decoration: none;
    font-weight: bold;
}

a:hover, a:visited:hover {
    color: #bf2295;
}

a:visited {
    color: #4e47bf;
}

a:active {
    color: #fc1c66;
}

td {
    color: #c9ceff;
    margin: 0 5px;
    font-size: 9pt;
    padding: 2px;
}

.list0 {
    background-color: #010008;
}

.list1 {
    background-color: #010011;
}

/* mailbox display finessing */

.list0 td, .list1 td {
    padding: 4px;
    color: #7670c2;
}

.list0:hover td, .list1:hover td {
    color: #c9ceff;
}

.list0:hover, .list1:hover, .list0:hover a, .list1:hover a {
    background: #020020;
    color: #bf2295;
}

.list0:active, .list1:active, .list0:active a, .list1:active a {
    color: #fc1c66;
}

.list0:hover td:nth-child(3) a, .list1:hover td:nth-child(3) a {
    color: #c9ceff !important;
}

.list0:hover td:first-child, .list1:hover td:first-child {
    box-shadow: inset 3px 0 0 #0b0099;
}

.list0:hover td:last-child, .list1:hover td:last-child {
    box-shadow: inset -3px 0 0 #0b0099;
}

.list0 td:first-child, .list1 td:first-child, #mailbox th:first-child {
    text-align: center !important;
    width: 1%;
    white-space: nowrap;
}

td.mailListSender {
    width: 1%;
    text-align: left;
    white-space: nowrap;
    background: url(/themes/console/images/info/author_dark.png) 6px center no-repeat;
    background-size: 12px 12px;
    padding-left: 21px !important;
}

.mailListSender a, .mailListDate, .mailListSize {
    color: #c9ceff !important;
    font-weight: normal !important;
}

#mailbox th {
    font-size: 9pt;
    text-transform: capitalize !important;
    padding-left: 3px;
    text-shadow: 0 1px 1px #000;
    border-top: none;
    white-space: nowrap;
}

#mailbox th img {
/*    filter: drop-shadow(0 0 1px #652787) hue-rotate(190deg);*/
}

#mailbox th img:hover {
    opacity: 1 !important;
}

th.mailListSubject {
    text-align: left;
}

img.sort {
    padding: 4px 3px;
    max-width: 10px !important;
    vertical-align: middle;
    font-size: 0;
    opacity: 0.6;
    border: 1px solid #26225c;
    border-radius: 2px;
/*    filter: hue-rotate(180deg);*/
}

.sort.selected {
    opacity: 1;
}

#mailbox .list0 td, #mailbox .list1 td {
    border-bottom: 1px solid #000;
}

#mailbox tr.bottombuttons td[colspan="9"] {
/*    display: none; */
}

tr.bottombuttons td {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/* end mailbox finessing */

.noborder {
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
}

td:first-child {
    font-weight: bold;
}

pre {
    font: 9pt "Droid Sans Mono", "Noto Mono", "Andale Mono", "DejaVu Sans Mono", "Lucida Console", monospace;
    margin-left: 1cm;
    margin-right: 1cm;
}

.page {
    color: #c9ceff;
    margin: 0;
    padding: 0;
    font-size: 9pt !important;
    text-align: center;
    min-width: 700px;
}

table {
    width: 100%;
}

th {
    font-size: 9pt;
    font-weight: bold;
    background: #001;
    background: linear-gradient(to bottom, #191729, #000 75%) !important;
    padding: 7px;
    border-bottom: 1px solid #26225d;
    border-top: 1px solid #26225d;
}

form {
    margin: 0;
    padding-bottom: 0;
    line-height: 160%;
    border: 1px solid #26225d;
    background: #000010;
}

form table {
    margin-bottom: 5px;
}

textarea {
    background: #000;
    color: #c9ceff;
    border: 1px solid #26225d;
    padding: 5px;
}

textarea[name="config_text"] {
    margin-bottom: 10px;
    resize: none;
}

/* compose mail */

textarea[name="new_text"] {
    min-width: 581px;
    margin: 10px 0 10px 3px;
    text-align: left;
}

td#addattach {
    padding-left: 5px !important;
}

td#attachedfile {
    padding: 2px 0;
}

#mailhead {
    font-size: 9pt;
    font-weight: bold;
    background: #002;
    border: 1px solid #26225d;
    border-left: none;
    border-right: none;
}

.iframed #mailhead {
    margin-top: 3px;
}

#mailhead td:first-child {
    text-align: right;
    width: 100px;
    white-space: nowrap;
}

#mailhead td:last-child {
    font-weight: normal;
}

div#composemail {
    text-align: center !important;
    padding: 50px;
}

#composemail table {
    width: auto;
    margin: auto;
}

#composemail table td {
    padding: 2px 5px;
}

#newmail input[type="text"], #composemail textarea {
    width: 100%;
}

/* end compose mail */

input, label {
    cursor: pointer;
}

input[type="file"] {
    border: none;
    padding: 0 !important;
}

input[type="file"]:hover {
    color: #652787;
}

input.new_upload {
    float: right;
}

input {
    margin: 3px;
    padding: 2px 2px 3px !important;
    font: bold 9pt "Droid Sans", "Open Sans", "Noto Sans", Ubuntu, "Segoe UI", "Bitstream Vera Sans", "DejaVu Sans", Verdana, "Lucida Grande", Helvetica, sans-serif;
    color: #4e47bf;
    text-align: left;
    border: 1px solid #26225d;
}

input.optbox {
    min-width: 16px !important;
    min-height: 16px !important;
}

input[type=submit]::-moz-focus-inner, input.cancel::-moz-focus-inner, button::-moz-focus-inner {
    border: none;
    box-shadow: none;
}

input[type=submit], input.cancel, #settings {
    margin: 4px 5px;
    padding: 5px 8px !important;
    font: bold 9pt "Droid Sans", "Open Sans", "Noto Sans", Ubuntu, "Segoe UI", "Bitstream Vera Sans", "DejaVu Sans", Verdana, "Lucida Grande", Helvetica, sans-serif;
    text-align: center;
    color: #6c66bc;
    border: 1px solid #26225c;
    border-radius: 2px;
    box-shadow: inset 0 0 0 1px #000;
    background: #000;
    background: linear-gradient(to bottom, #11101c 50%, #000010 50%) !important;
}

input[type=submit]:hover, input.cancel:hover,
input[type=submit]:focus, input.cancel:focus,
#settings:hover, #settings:focus {
    color: #652787 !important;
    background: #000 !important;
    border: 1px solid #652787;
}

input[type=submit]:active, input.cancel:active, #settings:active, #settings:visited:active {
    border: 1px inset #652787;
    background: #652787 !important;
    color: #83529f !important;
    box-shadow: inset 3px 3px 3px #000 !important;
    box-shadow: inset 0 0 0 1px #000, inset 3px 3px 3px #000 !important;
}

input[type=text], input[type=password], textarea {
    color: #7670c2;
    background: #000;
    cursor: text;
    padding: 4px !important;
    border: 1px solid #322e6b;
}

#dologin input:disabled, #dologin input:disabled:hover, #dologin input:disabled:active {
    border: none;
    color: #9b9ebf;
    margin: 0;
    padding-top: 3px;
    box-shadow: none;
    background: none !important;
    text-align: left !important;
    cursor: default;
}

input[name="user"], input[name="pass"] {
    border: 1px solid #322e6b;
    background: #000;
}

input[name="user"]:focus, input[name="pass"]:focus, input[type="text"]:focus, textarea:focus {
    color: #c9ceff;
    border: 1px solid #6466a5 !important;
    box-shadow: 0 0 0 1px rgba(101, 39, 135, 0.5);
    box-shadow: 0 0 0 1px rgba(101, 39, 135, 0.5), 0 0 2px 2px #202;
}

input::placeholder {
    opacity: 0.7;
    font-style: italic;
}

input:focus::placeholder {
    opacity: 0;;
}

input[name="host"], input[name="pop3"], input[name="smtp"] {
    display: inline !important;
    margin-top: 3px !important;
    font-family: "Droid Sans Mono", "Noto Mono", "Andale Mono", "DejaVu Sans Mono", "Lucida Console", monospace;
    color: #652787;
    background: none !important;
    border-radius: 0;
    box-shadow: none;
}

input.delete {
    margin-left: 2px;
}
.page td[colspan="2"] {
    text-align: left;
    padding: 0 0 10px 0;
}

.page td[colspan="2"] hr {
    display: none;
}

/* login + misc mods */

.notifications {
    text-align: center;
    padding: 0 0 20px;
}

#dologin {
    border: 1px solid #211e51;
    margin: 60px auto;
    width: 600px;
    padding: 0 0 10px;
    box-shadow: 0 0 2px 1px #000, inset 0 0 0 1px #000, inset 0 0 0 2px #000026;
    background: #000010;
    background: url(images/hatter_med.png) right bottom no-repeat, repeating-linear-gradient(to bottom, rgba(0,0,0,0.9), rgba(0,0,32,0.5) 2px, rgba(0,0,0,0.5) 3px), linear-gradient(to bottom, #000016, #000006);
    background-size: 27% auto, 100% 100%, 100% 100%;
}

@media screen and (max-width: 1200px) {
#dologin {
    width: 500px;
}
}

#dologin h1 {
    margin: -1px -1px 15px -1px;
    padding: 10px 10px 10px 48px;
    text-transform: uppercase;
    font-size: 14pt;
    text-align:left;
    letter-spacing:0.08em;
    word-spacing: 0.1em;
    text-shadow: 0 1px 1px #000;
    border: 1px solid #211e51;
    box-shadow: inset 0 0 0 1px #000;
    background: #020020 url("/themes/console/images/email.png") 8px center no-repeat;
    background: url(images/mail.png) 8px center no-repeat, linear-gradient(to bottom, #191729, #000 75%) !important;
    background: url(images/mail.png) 8px center no-repeat, linear-gradient(to right, rgba(0,0,16,0.5), rgba(0,0,0,0) 30%, rgba(16,0,16,0.1)), linear-gradient(to bottom, #191729 50%, #001 50%) !important;
}

#dologin table {
    width: 100%;
    margin-bottom: -9px;
    border-collapse: collapse;
    border-spacing: 0 !important;
}

#dologin td {
    padding: 1px 2px !important;
}

#dologin td:first-child {
    padding-right: 5px !important;
    width: 29%;
    white-space: nowrap;
}

#dologin td:last-child {
    width: 71%;
    white-space: nowrap;
}

#dologin td[colspan="2"] {
    text-align: center;
    padding: 3px 3px 5px !important;
}

#dologin tr:last-child td {
    padding-bottom: 7px !important;
}

#dologin hr {
    display: block;
    background: rgba(0,0,68,0.8);
    box-shadow: 0 1px 0 1px rgba(0,0,0,0.6);
    margin: 10px 0 7px;
    opacity: 0.5;
}

#dologin tr:last-child hr {
    margin-top: 6px;
    margin-bottom: 5px;
}

.iframed #dologin tr:nth-child(6) hr {
    margin-top: 5px;
}

#dologin tr:last-child a, #dologin tr:last-child a:visited {
    margin: 8px -2px 6px;
    padding: 3px 10px;
    min-width: 140px;
    display: inline-block;
    color: #7972d1;
    font-size: 8.5pt;
    border: 1px solid #003;
    border-radius: 25px;
    box-shadow: 0 0 1px rgba(0,0,0,.8), inset 0 0 0 1px #000;
    background: #002;
}

#dologin tr:last-child a:hover {
    color: #bf2295;
    box-shadow: 0 0 1px #000, inset 0 0 0 1px #000;
    background: #030;
    background: linear-gradient(to bottom, #003 50%, #000 50%) #000;
    transition: ease all 0.2s;
}

#dologin tr:last-child a:active {
    color: #337 !important;
    box-shadow: inset 3px 3px 3px #000;
    background: #000020;
    transition: ease box-shadow 0.1s;
}

#dologin tr:last-child td {
    color: transparent;
}

div.notifications + div#dologin {
    margin-top: 0;
}

h3#config {
    border: 1px solid #26225d;
    padding: 5px;
    margin: 9px auto 18px auto;
    width: 400px;
    font-size: 10pt;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    word-spacing: 0.1em;
    background: #020017;
    border-radius: 0 0 2px 2px;
    background: linear-gradient(to right, rgba(0,0,16,0), rgba(16,0,16,0), rgba(0,0,16,0)), linear-gradient(to bottom, #191729 50%, #001 50%) !important;
}

#mailheader {
    padding: 10px;
    margin: 3px -1px;
    border: 1px solid #26225d;
    font-size: 10pt !important;
    background: #020019;
}

#mailheader table {
    min-width: 300px;
}

#mailheader table td {
    font-size: 10pt;
}

#mailheader table td:first-child {
    white-space: nowrap;
    width: 20px;
}

p.mailbody {
    margin: 0;
    background: #000010;
    padding: 0 20px 20px !important;
}

.mailbody + hr, #attached + hr {
    display: none;
}

div.attached {
    border: 1px solid #26225d;
    margin: 0 -1px -1px;
    border-radius: 0 0 2px 2px;
    padding: 10px 10px 10px 30px !important;
    background: #020019 url(images/attach.png) 5px center no-repeat;
    background-size: 20px 20px;
}

.iframed div.attached {
    border-left: none;
    border-right: none;
    border-radius: 0;
}

.attached p.mailbody {
    padding: 5px !important;
    background: none;
}

.attached img {
    border: 1px solid #26225d;
    border-radius: 2px;
    image-orientation: from-image;
}

div#emptymailbox {
    padding: 20px 10px;
}

/* pagenav */

.pagenav td:nth-child(2) {
    padding: 5px 10px;
    width: 1%;
    white-space: nowrap;
    font-weight: bold;
}

.pagenav {
    width: 100%;
    margin: 0 auto;
    border-top: 1px solid #26225d;
    background: #000010;
}

.topbuttons .pagenav {
    border-bottom: 1px solid #26225d;

}

.topbuttons input {
    margin-top: 4px;
    margin-bottom: 10px;
}

.topbuttons .pagenav {
}

.bottombuttons .pagenav {
    margin-top: -2px;
}

div#bottombuttons { /* config page button positioning */
    margin: -6px 0 15px;
}

.pagenav input:disabled, .pagenav input:disabled:hover, .pagenav input:disabled:active {
    display: inline;
    border: 1px solid #3e3d4b !important;
    box-shadow: none !important;
    background: #652787 !important;
    cursor: default;
    opacity: 0.5;
}

.pagenavcontrols input[type="submit"] {
    margin: 3px 1px !important;
    padding: 3px;
    width: 22px !important;
    height: 22px;
    min-width: 22px !important;
    font-size: 0;
}

.pagenav input.firstpage {
    background: #000 url(images/first.png) center center no-repeat !important;
    background-size: 12px 12px !important;
}

.pagenav input.firstpage:hover {
    background: #000 url(images/first_hover.png) center center no-repeat !important;
    background-size: 12px 12px !important;
}

.pagenav input.firstpage:active {
    background: #652787 url(images/first_active.png) center center no-repeat !important;
    background-size: 12px 12px !important;
}

.pagenav input[name="firstpage"]:disabled {
    background: #000 url(images/first_disabled.png) center center no-repeat !important;
    background-size: 12px 12px !important;
}

.pagenav input.prevpage {
    background: #000 url(images/previous.png) center center no-repeat !important;
    background-size: 12px 12px !important;
}

.pagenav input.prevpage:hover {
    background: #000 url(images/previous_hover.png) center center no-repeat !important;
    background-size: 12px 12px !important;
}

.pagenav input.prevpage:active {
    background: #652787 url(images/previous_active.png) center center no-repeat !important;
    background-size: 12px 12px !important;
}

.pagenav input[name="prevpage"]:disabled {
    background: #000 url(images/previous_disabled.png) center center no-repeat !important;
    background-size: 12px 12px !important;
}

.pagenav input.nextpage {
    background: #000 url(images/next.png) center center no-repeat !important;
    background-size: 12px 12px !important;
}

.pagenav input.nextpage:hover {
    background: #000 url(images/next_hover.png) center center no-repeat !important;
    background-size: 12px 12px !important;
}

.pagenav input.nextpage:active {
    background: #652787 url(images/next_active.png) center center no-repeat !important;
    background-size: 12px 12px !important;
}

.pagenav input[name="nextpage"]:disabled {
    background: #000 url(images/next_disabled.png) center center no-repeat !important;
    background-size: 12px 12px !important;
}

.pagenav input.lastpage {
    background: #000 url(images/last.png) center center no-repeat !important;
    background-size: 12px 12px !important;
}

.pagenav input.lastpage:hover {
    background: #000 url(images/last_hover.png) center center no-repeat !important;
    background-size: 12px 12px !important;
}

.pagenav input.lastpage:active {
    background: #652787 url(images/last_active.png) center center no-repeat !important;
    background-size: 12px 12px !important;
}

.pagenav input[name="lastpage"]:disabled {
    background: #000 url(images/last_disabled.png) center center no-repeat !important;
    background-size: 12px 12px !important;
}

.pagecount {
    padding: 3px 8px;
    box-shadow: 0 0 0 1px #000;
    background: linear-gradient(to bottom, #113, #112);
}
/* end pagenav */

#prefsave {
    padding: 10px 10px 20px;
}

/* illustrated buttons inc */

input[type="submit"][class], input[type="cancel"][class],
input[type="submit"][class]:hover, input[type="cancel"][class]:hover,
input[type="submit"][class]:focus, input[type="cancel"][class]:focus,
#settings, #settings:hover, #settings:focus {
    background-size: 14px 14px, 100% 100% !important;
}

input.cancel, #nukemail input.clearselection {
    padding: 5px 9px 5px 27px !important;
    background: #000 url(/themes/console/images/buttons/no.png) no-repeat 9px center !important;
    background: url(/themes/console/images/buttons/no.png) no-repeat 9px center, linear-gradient(to bottom, #11101c 50%, #000010 50%) !important;
}

input.cancel:hover, input.cancel:focus, #nukemail input.clearselection:hover, #nukemail input.clearselection:focus {
    background: #000 url(/themes/console/images/buttons/no.png) no-repeat 9px center !important;
    background: url(/themes/console/images/buttons/no.png) no-repeat 9px center, linear-gradient(to bottom, #202 50%, #000 50%) !important;
}

input.clearselection {
    padding: 5px 9px 5px 27px !important;
    background: #000 url(/themes/susimail/images/none.png) no-repeat 9px center !important;
    background: url(/themes/susimail/images/none.png) no-repeat 9px center, linear-gradient(to bottom, #11101c 50%, #000010 50%) !important;
}

input.clearselection:hover, input.clearselection:focus {
    background: #000 url(/themes/susimail/images/none.png) no-repeat 9px center !important;
    background: url(/themes/susimail/images/none.png) no-repeat 9px center, linear-gradient(to bottom, #202 50%, #000 50%) !important;
}

input.delete, input.delete_attachment, input.really_delete {
    padding: 5px 9px 5px 27px !important;
    background: #000 url(/themes/console/images/buttons/delete.png) no-repeat 9px center !important;
    background: url(/themes/console/images/buttons/delete.png) no-repeat 9px center, linear-gradient(to bottom, #11101c 50%, #000010 50%) !important;
}

input.delete:hover, input.delete_attachment:hover, input.really_delete:hover,
input.delete:focus, input.delete_attachment:focus, input.really_delete:focus {
    background: #000 url(/themes/console/images/buttons/delete_hover.png) no-repeat 9px center !important;
    background: url(/themes/console/images/buttons/delete_hover.png) no-repeat 9px center, linear-gradient(to bottom, #202 50%, #000 50%) !important;
}

input.download {
    padding: 5px 9px 5px 27px !important;
    background: #000 url(/themes/console/images/buttons/download.png) no-repeat 9px center !important;
    background: url(/themes/console/images/buttons/download.png) no-repeat 9px center, linear-gradient(to bottom, #11101c 50%, #000010 50%) !important;
}

input.download:hover, input.download:focus {
    background: #000 url(/themes/console/images/buttons/download.png) no-repeat 9px center !important;
    background: url(/themes/console/images/buttons/download.png) no-repeat 9px center, linear-gradient(to bottom, #202 50%, #000 50%) !important;
}

input.offline {
    padding: 5px 9px 5px 27px !important;
    background: #000 url(/themes/susimail/images/offline.png) no-repeat 9px center !important;
    background: url(/themes/susimail/images/offline.png) no-repeat 9px center, linear-gradient(to bottom, #11101c 50%, #000010 50%) !important;
}

input.offline:hover, input.offline:focus {
    background: #000 url(/themes/susimail/images/offline_hover.png) no-repeat 9px center !important;
    background: url(/themes/susimail/images/offline_hover.png) no-repeat 9px center, linear-gradient(to bottom, #202 50%, #000 50%) !important;
}

input.list, input.moveto, input.switchto {
    padding: 5px 9px 5px 27px !important;
    background: #000 url(/themes/susimail/images/folder.png) no-repeat 9px center !important;
    background: url(/themes/susimail/images/folder.png) no-repeat 9px center, linear-gradient(to bottom, #11101c 50%, #000010 50%) !important;
}

input.list:hover, input.list:focus, input.moveto:hover, #pagenav input.switchto:hover, input.moveto:focus, input.switchto:focus   {
    background: #000 url(/themes/susimail/images/folder-open.png) no-repeat 9px center !important;
    background: url(/themes/susimail/images/folder-open.png) no-repeat 9px center, linear-gradient(to bottom, #202 50%, #000 50%) !important;
}

input.forward {
    background: #000 url(/themes/susimail/images/forward.png) no-repeat 9px center !important;
    background: url(/themes/susimail/images/forward.png) no-repeat 9px center, linear-gradient(to bottom, #11101c 50%, #000010 50%) !important;
    padding: 5px 9px 5px 27px !important;
}

input.forward:hover, input.forward:focus {
    background: #000 url(/themes/susimail/images/forward.png) no-repeat 9px center !important;
    background: url(/themes/susimail/images/forward.png) no-repeat 9px center, linear-gradient(to bottom, #202 50%, #000 50%) !important;
}

input.login {
    padding: 5px 9px 5px 27px !important;
    background: #000 url(/themes/susimail/images/login.png) no-repeat 9px center !important;
    background: url(/themes/susimail/images/login.png) no-repeat 9px center, linear-gradient(to bottom, #11101c 50%, #000010 50%) !important;
}

input.login:hover, input.login:focus {
    background: #000 url(/themes/susimail/images/login_hover.png) no-repeat 9px center !important;
    background: url(/themes/susimail/images/login_hover.png) no-repeat 9px center, linear-gradient(to bottom, #202 50%, #000 50%) !important;
}

input.logout {
    padding: 5px 9px 5px 27px !important;
    background: #000 url(/themes/susimail/images/logout.png) no-repeat 9px center !important;
    background: url(/themes/susimail/images/logout.png) no-repeat 9px center, linear-gradient(to bottom, #11101c 50%, #000010 50%) !important;
}

input.logout:hover, input.logout:focus {
    background: #000 url(/themes/susimail/images/logout_hover.png) no-repeat 9px center !important;
    background: url(/themes/susimail/images/logout_hover.png) no-repeat 9px center, linear-gradient(to bottom, #202 50%, #000 50%) !important;
}

input.reload, input.refresh {
    padding: 5px 9px 5px 27px !important;
    background: #000 url(/themes/console/images/buttons/update.png) no-repeat 9px center !important;
    background: url(/themes/console/images/buttons/update.png) no-repeat 9px center, linear-gradient(to bottom, #11101c 50%, #000010 50%) !important;
}

input.reload:hover, input.refresh:hover,
input.reload:focus, input.refresh:focus {
    background: #000 url(/themes/console/images/buttons/update_hover.png) no-repeat 9px center !important;
    background: url(/themes/console/images/buttons/update_hover.png) no-repeat 9px center, linear-gradient(to bottom, #202 50%, #000 50%) !important;
}

input.invertselection {
    padding: 5px 9px 5px 27px !important;
    background: #000 url(/themes/susimail/images/selection.png) no-repeat 9px center !important;
    background: url(/themes/susimail/images/selection.png) no-repeat 9px center, linear-gradient(to bottom, #11101c 50%, #000010 50%) !important;
}

input.invertselection:hover, input.invertselection:focus {
    background: #000 url(/themes/susimail/images/selection.png) no-repeat 9px center !important;
    background: url(/themes/susimail/images/selection.png) no-repeat 9px center, linear-gradient(to bottom, #202 50%, #000 50%) !important;
}

input.show {
    padding: 5px 9px 5px 27px !important;
    background: #000 url(/themes/console/images/buttons/yes.png) no-repeat 9px center !important;
    background: url(/themes/console/images/buttons/yes.png) no-repeat 9px center, linear-gradient(to bottom, #11101c 50%, #000010 50%) !important;
}

input.show:hover, input.show:focus {
    background: #000 url(/themes/console/images/buttons/yes.png) no-repeat 9px center !important;
    background: url(/themes/console/images/buttons/yes.png) no-repeat 9px center, linear-gradient(to bottom, #202 50%, #000 50%) !important;
}

.bottombuttons input.markall {
    padding: 5px 9px 5px 27px !important;
    background: #000 url(/themes/susimail/images/all.png) no-repeat 9px center !important;
    background: url(/themes/susimail/images/all.png) no-repeat 9px center, linear-gradient(to bottom, #11101c 50%, #000010 50%) !important;
    background-size: 12px 12px, 100% 100% !important;
}

.bottombuttons input.markall:hover, .bottombuttons input.markall:focus {
    background: #000 url(/themes/susimail/images/all.png) no-repeat 9px center !important;
    background: url(/themes/susimail/images/all.png) no-repeat 9px center, linear-gradient(to bottom, #202 50%, #000 50%) !important;
    background-size: 12px 12px, 100% 100% !important;
}

input.new {
    padding: 5px 9px 5px 27px !important;
    background: #000 url(/themes/susimail/images/compose.png) no-repeat 9px center !important;
    background: url(/themes/susimail/images/compose.png) no-repeat 9px center, linear-gradient(to bottom, #11101c 50%, #000010 50%) !important;
}

input.new:hover, input.new:focus {
    background: #000 url(/themes/susimail/images/compose_hover.png) no-repeat 9px center !important;
    background: url(/themes/susimail/images/compose_hover.png) no-repeat 9px center, linear-gradient(to bottom, #202 50%, #000 50%) !important;
}

input.reply {
    padding: 5px 9px 5px 27px !important;
    background: #000 url(/themes/susimail/images/reply.png) no-repeat 9px center !important;
    background: url(/themes/susimail/images/reply.png) no-repeat 9px center, linear-gradient(to bottom, #11101c 50%, #000010 50%) !important;
}

input.reply:hover, input.reply:focus {
    background: #000 url(/themes/susimail/images/reply.png) no-repeat 9px center !important;
    background: url(/themes/susimail/images/reply.png) no-repeat 9px center, linear-gradient(to bottom, #202 50%, #000 50%) !important;
}

input.replyall {
    padding: 5px 9px 5px 27px !important;
    background: #000 url(/themes/susimail/images/reply-all.png) no-repeat 9px center !important;
    background: url(/themes/susimail/images/reply-all.png) no-repeat 9px center, linear-gradient(to bottom, #11101c 50%, #000010 50%) !important;
}

input.replyall:hover, input.replyall:focus {
    background: #000 url(/themes/susimail/images/reply-all.png) no-repeat 9px center !important;
    background: url(/themes/susimail/images/reply-all.png) no-repeat 9px center, linear-gradient(to bottom, #202 50%, #000 50%) !important;
}

input.setpagesize, input.save {
    padding: 5px 9px 5px 27px !important;
    background: #000 url(/themes/console/images/buttons/yes.png) no-repeat 9px center !important;
    background: url(/themes/console/images/buttons/yes.png) no-repeat 9px center, linear-gradient(to bottom, #11101c 50%, #000010 50%) !important;
}

input.setpagesize:hover, input.save:hover,
input.setpagesize:focus, input.save:focus {
    background: #000 url(/themes/console/images/buttons/yes.png) no-repeat 9px center !important;
    background: url(/themes/console/images/buttons/yes.png) no-repeat 9px center, linear-gradient(to bottom, #202 50%, #000 50%) !important;
}

input.send {
    padding: 5px 9px 5px 27px !important;
    background: #000 url(/themes/susimail/images/send.png) no-repeat 9px center !important;
    background: url(/themes/susimail/images/send.png) no-repeat 9px center, linear-gradient(to bottom, #11101c 50%, #000010 50%) !important;
}

input.send:hover, input.send:focus {
    background: #000 url(/themes/susimail/images/send_hover.png) no-repeat 9px center !important;
    background: url(/themes/susimail/images/send_hover.png) no-repeat 9px center, linear-gradient(to bottom, #202 50%, #000 50%) !important;
}

input.configure, #settings {
    padding: 5px 9px 5px 27px !important;
    background: #000 url(/themes/console/images/buttons/configure.png) no-repeat 9px center !important;
    background: url(/themes/console/images/buttons/configure.png) no-repeat 9px center, linear-gradient(to bottom, #11101c 50%, #000010 50%) !important;
}

input.configure:hover, input.configure:focus,
#settings:hover, #settings:focus {
    background: #000 url(/themes/console/images/buttons/configure_hover.png) no-repeat 9px center !important;
    background: url(/themes/console/images/buttons/configure_hover.png) no-repeat 9px center, linear-gradient(to bottom, #202 50%, #000 50%) !important;
}

#settings:active {
    background: url(/themes/console/images/buttons/configure_hover.png) no-repeat 9px center, linear-gradient(to bottom, #202 50%, #000 50%) !important;
}

input.saveas {
    padding: 5px 9px 5px 27px !important;
    background: #000 url(/themes/susimail/images/save.png) no-repeat 9px center !important;
    background: url(/themes/susimail/images/save.png) no-repeat 9px center, linear-gradient(to bottom, #11101c 50%, #000010 50%) !important;
}

input.saveas:hover, input.saveas:focus {
    background: #000 url(/themes/susimail/images/save_hover.png) no-repeat 9px center !important;
    background: url(/themes/susimail/images/save_hover.png) no-repeat 9px center, linear-gradient(to bottom, #202 50%, #000 50%) !important;
}

input.new_upload {
    padding: 5px 9px 5px 27px !important;
    background: #000 url(/themes/susimail/images/attach.png) no-repeat 9px center !important;
    background: url(/themes/susimail/images/attach.png) no-repeat 9px center, linear-gradient(to bottom, #11101c 50%, #000010 50%) !important;
}

input.new_upload:hover, input.new_upload:focus {
    background: #000 url(/themes/susimail/images/attach.png) no-repeat 9px center !important;
    background: url(/themes/susimail/images/attach.png) no-repeat 9px center, linear-gradient(to bottom, #202 50%, #000 50%) !important;
}

/* pagenav */

input.firstpage, input[name="firstpage"],
input.firstpage[disabled]:hover, input[name="firstpage"][disabled]:hover {
    padding: 5px 10px !important;
    text-indent: -99999px;
    background: #000 url(/themes/susimail/images/first.png) no-repeat center center;
    background: url(/themes/susimail/images/first.png) no-repeat center center, linear-gradient(to bottom, #11101c 50%, #000010 50%) !important;
}

input.firstpage:hover, input[name="firstpage"]:hover,
input.firstpage:focus, input[name="firstpage"]:focus {
    background: #000 url(/themes/susimail/images/first.png) no-repeat center center;
    background: url(/themes/susimail/images/first.png) no-repeat center center, linear-gradient(to bottom, #202 50%, #000 50%) !important;
}

input.lastpage, input[name="lastpage"],
input.lastpage[disabled]:hover, input[name="lastpage"][disabled]:hover,
input.lastpage[disabled]:focus, input[name="lastpage"][disabled]:focus {
    padding: 5px 10px !important;
    text-indent: -99999px;
    background: #000 url(/themes/susimail/images/last.png) no-repeat center center;
    background: url(/themes/susimail/images/last.png) no-repeat center center, linear-gradient(to bottom, #11101c 50%, #000010 50%) !important;
}

input.lastpage:hover, input[name="lastpage"]:hover,
input.lastpage:focus, input[name="lastpage"]:focus {
    background: #000 url(/themes/susimail/images/last.png) no-repeat center center;
    background: url(/themes/susimail/images/last.png) no-repeat center center, linear-gradient(to bottom, #202 50%, #000 50%) !important;
}

input.prevpage, input.prev, input[name="prev"], input[name="prevpage"],
input.prevpage[disabled]:hover, input.prev[disabled]:hover, input[name="prev"][disabled]:hover, input[name="prevpage"][disabled]:hover,
input.prevpage[disabled]:focus, input.prev[disabled]:focus, input[name="prev"][disabled]:focus, input[name="prevpage"][disabled]:focus {
    padding: 5px 10px !important;
    text-indent: -99999px;
    background: #000 url(/themes/susimail/images/previous.png) no-repeat center center;
    background: url(/themes/susimail/images/previous.png) no-repeat center center, linear-gradient(to bottom, #11101c 50%, #000010 50%) !important;
}

input.prevpage:hover, input[name="prev"]:hover, input[name="prevpage"]:hover,
input.prevpage:focus, input[name="prev"]:focus, input[name="prevpage"]:focus {
    background: #000 url(/themes/susimail/images/previous.png) no-repeat center center !important;
    background: url(/themes/susimail/images/previous.png) no-repeat center center, linear-gradient(to bottom, #202 50%, #000 50%) !important;
}

input.nextpage, input.next, input[name="nextpage"], input[name="next"],
input.nextpage[disabled]:hover, input.next[disabled]:hover, input[name="nextpage"][disabled]:hover, input[name="next"][disabled]:hover,
input.nextpage[disabled]:focus, input.next[disabled]:focus, input[name="nextpage"][disabled]:focus, input[name="next"][disabled]:focus {
    padding: 5px 10px !important;
    text-indent: -99999px;
    background: #000 url(/themes/susimail/images/next.png) no-repeat center center;
    background: url(/themes/susimail/images/next.png) no-repeat center center, linear-gradient(to bottom, #11101c 50%, #000010 50%) !important;
}

input.nextpage:hover, input.next:hover, input[name="nextpage"]:hover,
input.nextpage:focus, input.next:focus, input[name="nextpage"]:focus {
    background: #000 url(/themes/susimail/images/next.png) no-repeat center center !important;
    background: url(/themes/susimail/images/next.png) no-repeat center center, linear-gradient(to bottom, #202 50%, #000 50%) !important;
}

input.prev, input[name="next"], input.prev[disabled], input[name="next"][disabled],
input.prev:hover, input[name="next"]:hover, input.prev[disabled]:hover, input[name="next"][disabled]:hover {
    padding: 5px 15px !important;
}

input[type="submit"][disabled], input[type="submit"][disabled]:hover, input[type="submit"][disabled]:focus, input[type="submit"][disabled]:active {
    opacity: 0.5;
    box-shadow: none;
    cursor: default;
    border: 1px solid #3e3f8f !important;
    border-bottom-color: #14144f !important;
    border-right-color: #14144f !important;
}

/* end pagenav */

input.switchto {
    margin-right: 0 !important;
}

/* end illustrated buttons */

input[type=submit]:active, input.cancel:active {
    color: #83529f !important;
    border: 1px solid #652787;
    box-shadow: inset 3px 3px 3px #000 !important;
    box-shadow: inset 0 0 0 1px #000, inset 3px 3px 3px #000 !important;
    background-color: #652787 !important;
    background-blend-mode: luminosity;
}

/* responsive layout */

@media screen and (max-width: 700px) {
.topbuttons input[type="submit"], .topbuttons input[type="reset"] {
    min-width: 50px !important;
    margin: 3px 5px !important;
}
}

@media screen and (min-width: 1300px) {
.iframed body, .iframed td, .iframed textarea, .iframed div, .iframed p.mailbody, .iframed input, .iframed input[type="submit"], .iframed input[type="reset"], .iframed p.error {
    font-size: 10pt !important;
}

.iframed .topbuttons input[type="submit"], .iframed .topbuttons input[type="reset"] {
    margin: 3px 5px !important;
}

.iframed .pagenav input {
    font-size: 0 !important;
}
}

@media screen and (min-width: 1500px) {
body, td, textarea, div, p.mailbody, input, input[type="submit"], input[type="reset"], p.error, #settings {
    font-size: 10pt !important;
}

#dologin tr:last-child a {
    font-size: 9pt;
}

.topbuttons input[type="submit"], .topbuttons input[type="reset"] {
    margin: 3px 5px !important;
}

.pagenav input {
    font-size: 0 !important;
}
}

/* end responsive layout */

/* Edge/IE tweaks */
_:-ms-lang(x), * {
    filter: none !important;
}

/* end Edge/IE tweaks */

/* custom radios/checkboxes to enforce color scheme when OS widgets are non-standard  */
@supports (background-blend-mode: luminosity) { /* exclude ms browsers */
input[type="checkbox"], input[type="checkbox"]:checked, input[type="checkbox"][disabled], input[type="checkbox"][disabled]:checked,
input[type="radio"], input[type="radio"]:checked, input[type="radio"][disabled], input[type="radio"][disabled]:checked {
    position: relative;
    width: 19px !important;
    height: 19px !important;
    min-width: 19px !important;
    min-height: 19px !important;
    outline: none;
    vertical-align: middle !important;
    border: 1px solid #26225d !important;
    box-shadow: inset 0 0 0 1px #000, inset 3px 3px 3px 1px #000;
    background: #001;
    background: linear-gradient(to bottom, #030306, #112);
    box-sizing: border-box;
    -moz-appearance: none;
    -webkit-appearance: inherit;
    filter: drop-shadow(0 0 1px #000);
    will-change: transform;
}

input[type="checkbox"], input[type="checkbox"]:checked, input[type="checkbox"][disabled], input[type="checkbox"][disabled]:checked {
    border-radius: 2px;
}

input[type="radio"], input[type="radio"]:checked, input[type="radio"][disabled], input[type="radio"][disabled]:checked {
    border-radius: 50%;
}

input[type="checkbox"]:checked::before, input[type="radio"]:checked::before,
input[type="checkbox"]:not(:checked)::before, input[type="radio"]:not(:checked)::before {
    position: absolute;
    transition: linear all 0.05s;
    transform: scale(1);
}

.optbox:not(:checked) {
    box-shadow: inset 3px 3px 3px 1px #000;
}

.optbox:active {
    background: #000 !important;
}

input[type="checkbox"]:checked::before, input[type="checkbox"]:not(:checked)::before {
    content: "";
    top: 3px;
    left: 3px;
    width: 11px;
    height: 11px;
    border-radius: 1px;
    box-shadow: 0 0 0 1px #000;
    background: #6c66bc;
}

input[type="radio"]:checked::before, input[type="radio"][disabled]:checked:hover::before {
    content: "";
    border-radius: 50%;
    left: 25%;
    top: 25%;
    width: 9px;
    height: 9px;
    background: #6c66bc;
}

input[type="checkbox"]:checked:hover::before {
    color: #7975c2;
}

input[type="radio"]:checked:hover::before {
    background: #7975c2;
}

input[type="checkbox"]:not(:checked)::before, input[type="radio"]:not(:checked)::before {
    transform: scale(0);
    color: transparent;
    background: transparent;
}

input[type="checkbox"]:hover, input[type="radio"]:hover, input[type="checkbox"]:focus, input[type="radio"]:focus {
    background: #000;
    width: 19px !important;
    height: 19px !important;
    border: 1px solid #6466a5 !important;
    box-shadow: 0 0 0 1px rgba(101, 39, 135, 0.5), 0 0 2px 2px #202 !important;
    filter: drop-shadow(0 0 1px #202) !important;
}

input[type="checkbox"][disabled], input[type="radio"][disabled], input[type="checkbox"][disabled]:hover, input[type="radio"][disabled]:hover,
input[type="checkbox"][disabled]:checked, input[type="radio"][disabled]:checked, input[type="checkbox"][disabled]:checked:hover, input[type="radio"][disabled]:checked:hover {
    border: 1px solid #4f4b87 !important;
    box-shadow: none !important;
    background: #000;
    opacity: 0.5 !important;
    filter: none !important;
}
}

/* timedate in mail listing */

.listDate, .listTime, .listClock {
    display: inline-block;
    white-space: nowrap;
    text-align: right;
}

.listClock {
    margin-top: 1px;
    padding-left: 1px;
    min-width: 16px;
    vertical-align: text-top;
    font-size: 80%;
    text-align: left;
    text-transform: lowercase;
}

.listDate {
    min-width: 62px;
    text-align: right;
}

.listTime {
    min-width: 42px;
    opacity: 0.85;
}

/* end timedate */

#info {
    margin: 7px 0 2px !important;
    padding: 3px 10px;
    display: inline-block;
    font-weight: bold;
    text-shadow: 0 1px 1px #000;
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px #000;
    background: #003;
}

#infoUser {
    margin-right: 4px;
    padding: 4px 8px 4px 0;
    border-right: 1px solid #002;
}

select {
    margin: 5px 10px;
    padding: 4px 20px 4px 4px !important;
    min-width: 110px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    overflow: hidden;
    text-overflow: ellipsis;
    font: bold 9pt "Droid Sans", "Open Sans", "Noto Sans", Ubuntu, "Segoe UI", "Bitstream Vera Sans", "DejaVu Sans", Verdana, "Lucida Grande", Helvetica, sans-serif;
    color: #6c66bc;
    text-align: center;
    border: 1px solid #27235f;
    cursor: pointer;
    box-shadow: inset 0 0 0 1px #000, 0 0 0 1px #000;
    background: #000 url(/themes/console/midnight/images/dropdown.png) center right 1px no-repeat !important;
    background: url(/themes/console/midnight/images/dropdown.png) center right 4px no-repeat, linear-gradient(to bottom, #11101c 50%, #000010 50%) !important;
    background-size: 14px auto, 100% 100% !important;
    filter: none !important;
}

@supports not (-moz-appearance: none) {
select {
    padding: 5px 20px 5px 6px !important;
}
}

select option {
    font-weight: normal;
    font-size: 9.5pt !important;
    color: #000;
    box-shadow: inset 0 0 20px 20px #000;
}

select option:hover, select option:focus, select option:checked {
    box-shadow: inset 0 0 20px 20px #652787;
}

img[src="dropdown.png"] {
    filter: invert(100%) sepia(100%) hue-rotate(200deg) saturate(200%);
}

select:hover, select:focus, select:active {
    color: #652787;
    text-shadow: 0 1px 1px #000;
    border: 1px solid #652787 !important;
    box-shadow: inset 0 0 0 1px #000 !important;
    background: url(/themes/console/midnight/images/dropdown_hover.png) center right 4px no-repeat, linear-gradient(to bottom, #202 50%, #000 50%) !important;
    background-size: 14px auto, 100% 100%, 100% 100% !important;
}

.topbuttons .folders {
    margin-bottom: 5px;
}

#pagenavbottom .folders {
    display: none;
}

#toggle {
    height: 20px;
    width: 24px;
    vertical-align: middle;
    font-size: 0;
    border: none;
    background: url(/themes/console/images/buttons/show.png) center center no-repeat;
    background-size: 20px 20px !important;
    cursor: pointer;
    mix-blend-mode: luminosity;
}

#toggle:hover {
    mix-blend-mode: normal;
}

#toggle.hidepass {
    background: url(/themes/console/images/buttons/hide.png) center center no-repeat;
}

#toggle.showpass {
    background: url(/themes/console/images/buttons/show.png) center center no-repeat;
}
