@charset "utf-8";

@font-face {
    font-family: "Droid Sans";
    font-weight: normal;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: local("Droid Sans Regular"), local("DroidSans"), url("/themes/fonts/DroidSans.ttf") format("truetype");
}

@font-face {
    font-family: "Droid Sans";
    font-weight: bold;
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("/themes/fonts/DroidSans-Bold.ttf") format("truetype"), local("Droid Sans Bold"), local("DroidSans-Bold");
}

@font-face {
    font-family: "Droid Sans Mono";
    font-weight: normal;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: local("Droid Sans Mono"), local("DroidSans-Mono"), url("/themes/fonts/DroidSansMono.ttf") format("truetype");
}
