/* disable snark's collapsible panels */
/* fixes a browser engine bug present in Konqueror, Midori, Qupzilla et al */

input:not(checked) + label + hr + table, input:not(checked) + label + hr + table + table {
    display: table !important;
}

.toggleview, .mainsection[id] input:not(:checked) + .toggleview, .mainsection[id] input:checked + .toggleview  {
    margin-bottom: -6px !important;
    padding: 3px 0 !important;
    min-width: 200px !important;
    width: 200px !important;
}

.mainsection[id] input:not(:checked) + .toggleview, .mainsection[id] input:checked + .toggleview {
    margin-bottom: 8px !important;
}

.toggleview, .toggleview:hover, .toggleview:active, input:active + .toggleview, input:focus + .toggleview,
input:checked + .toggleview, input:not(:checked) + .toggleview {
    box-shadow: inset 0 0 0 1px #fff !important;
    background: linear-gradient(to bottom, #eef, #fff) !important;
    cursor: default !important;
    font-size: 0 !important;
}

.toggleview img, .toggle_input:focus + .toggleview img, .toggleview:hover img, .toggleview img:active, .toggleview:active img {
    filter: none !important;
    mix-blend-mode: normal !important;
    transform: none !important;
}

.configsection .snarkConfigTitle a {
    padding: 1px 0 !important;
    margin: 0 auto !important;
    text-align: center !important;
    display: block;
}

.configsection .snarkConfigTitle a img {
    margin: -2px -2px 0 0 !important;
    padding: 0 !important;
}

.toggleview img, .configsection .snarkConfigTitle img {
    margin: 0 !important;
    padding: 0 !important;
    text-align: center !important;
}

#snarkInfo ~ .mainsection table:first-of-type {
    margin-top: 0 !important;
}

.mainsection hr {
    display: none;
}
    padding: 3px !important;