@media screen and (min-width: 0) and (max-width: 4000px) {
* {
    font-weight: normal !important;
    font-family: "Noto Sans", "Droid Sans", "Roboto Sans", Ubuntu, "Segoe UI", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif !important;
    line-height: 120% !important;
}

.snarkNav:link, .iframed .snarkNav:link {
    font-weight: bold !important;
    padding-bottom: 5px !important;
}

.iframed .snarkNav:link {
    font-weight: bold !important;
    padding-top: 3px !important;
}

.snarkMessages li::before {
    width: 15px;
    background-size: 11px 11px;
}

.snarkMessages li, .iframed .snarkMessages li {
    font-weight: normal !important;
}

input[type], select, select option, td, td a, .snarkMessages li, .snarkMessages li a, textarea, input.r, input[name="nofilter_dataDir"],
.configsectionpanel, .configsectionpanel td, .snarkNewTorrent, .snarkNewTorrent td, #configs td, .trackerconfig td, td.snarkTorrentStatus {
    font-size: 10.5pt !important;
}

.snarkAddInfo, .snarkAddInfo code {
    font-size: 10.5pt !important;
}

th.snarkTorrentDownloaded, th.snarkTorrentUploaded, th.snarkTorrentRateDown, th.snarkTorrentRateUp,
td.snarkTorrentDownloaded, td.snarkTorrentUploaded, td.snarkTorrentRateDown, td.snarkTorrentRateUp, .snarkTorrentName a:link,
th#pagenav {
    font-size: 10pt !important;
}

th.snarkTorrentDownloaded, th.snarkTorrentUploaded, th.snarkTorrentRateDown, th.snarkTorrentRateUp {
    font-weight: bold !important;
}

input[type], select, a.control {
    line-height: 130% !important;
}

select {
    padding-top: 1px;
    padding-bottom: 1px;
}

a.control, input[type="submit"], input.accept {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    text-transform: uppercase !important;
    letter-spacing: 0.05em;
}

a.control, input[type="submit"], input.accept, th, #trackerselect tr:first-child td {
    font-weight: normal !important;
    font-size: 12pt !important;
}

.configsectionpanel .snarkConfigTitle, .configsectionpanel .snarkConfigTitle:hover, .configsectionpanel .snarkConfigTitle:active {
    padding-top: 4px;
    padding-bottom: 2px;
    font-size: 14pt !important;
    text-transform: uppercase !important;
    font-variant: normal !important;
}

.configsection .snarkConfigTitle a img {
    margin-left: 6px !important;
}

.configsectionpanel .snarkConfigTitle img {
    margin-top: -4px !important;
    margin-bottom: 0 !important;
    display: inline-block;
    height: 20px;
    width: 20px;
    mix-blend-mode: hard-light;
}

.snarkTorrentInfo th, .snarkDirInfo th, #totals, .snarkCommentInfo th, #configs th {
    font-size: 11pt !important;
    font-weight: normal !important;
}

.snarkTorrents tt {
    font-size: 9.5pt !important;
}

#configs td {
    line-height: 200% !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

#embed, #fullscreen {
    margin: -7px -4px -27px !important;
    padding: 8px 9px 7px 10px !important;
    font-size: 9.5pt;
}

#embed::after {
    height: 14px !important;
}

.knowntracker a {
    max-width: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
}

.optionlist {
    columns: 500px auto;
    column-gap: 5px;
}

.configOption::after {
    content: "";
    display: inline-block;
    height: 40px;
    vertical-align: middle;
}

#configs td b {
    letter-spacing: 0.08em !important;
    min-width: 180px !important;
}

#configs input[name="nofilter_dataDir"], input[name="i2cpOpts"], input[name="nofilter_commentsName"] {
    width: calc(100% - 200px) !important;
}
}

@media screen and (max-width: 1400px) {
.iframed .snarkTorrents td.snarkTorrentName a {
    max-width: 400px !important;
    display: inline-block; !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}
}